<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('songs.upload') }}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="uploadModalLabel">Upload Song</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" placeholder="Title" name="title">
          </div>
          <div class="form-group">
            <label for="artist">Artist</label>
            <select class="form-control" name="artist" id="artist">
              <option value=""></option>
              {% for artist in artists %}
                <option value="{{ artist.id }}">{{ artist.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
              <label for="artist">Album</label>
              <select class="form-control" name="album" id="album" disabled>
                <option value=""></option>
                {% for album in artists.albums %}
                  <option value="{{ album.id }}">{{ album.name }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label>Select your song</label>
            <input type="file" accept="audio/*" name="song">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>